.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100hw;
    min-height: 600px;
    }

    .div1 { grid-area: 2 / 2 / 3 / 3; }
    .div2 { grid-area: 2 / 2 / 3 / 6; }
    .div3 { grid-area: 3 / 2 / 4 / 6; }
    .div4 { grid-area: 4 / 5 / 8 / 6; }
    .div5 { grid-area: 4 / 2 / 5 / 3; }
    .div6 { grid-area: 4 / 3 / 5 / 4; }
    .div7 { grid-area: 4 / 4 / 5 / 5; }
    .div8 { grid-area: 5 / 2 / 6 / 3; }
    .div9 { grid-area: 5 / 3 / 6 / 4; }
    .div10 { grid-area: 5 / 4 / 6 / 5; }
    .div11 { grid-area: 6 / 2 / 7 / 3; }
    .div12 { grid-area: 6 / 3 / 7 / 4; }
    .div13 { grid-area: 6 / 4 / 7 / 5; }
    .div14 { grid-area: 7 / 2 / 8 / 3; }
    .div15 { grid-area: 7 / 3 / 8 / 4; }
    .div16 { grid-area: 7 / 4 / 8 / 5; }
    
body{
    background-color: lightblue;
}



.div2,.div3{
    background-color: white;
            text-align: right;
    font-size: 23px;
}
.div5,.div6,.div7,.div8,.div9,.div10,.div11,.div12,.div13,.div14,.div15,.div16{
    background-color: coral;
    font-size: 23px;
    text-align: center;
}

.div4{
        background-color: brown
}

.div4 a{
    display: block;
    font-size: 23px;
    text-align: center;
}


.div4{
        background-color: brown
}

.div4 a{
    display: block;
    font-size: 23px;
    text-align: center;
}

.div2{
    font-size: 32px;
}


.div2 p, .div3 p{
    margin-right: 12px;
}

a{
    text-decoration: none;
    color:black
}

    